################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chapter02/ConsoleApp1/ConsoleApp1/obj
/Chapter02/WpfApp1/WpfApp1/obj
/Chapter03
/Chapter04
/Chapter05
/Chapter06
/Chapter07
/Chapter08/Ch08Ex01/Ch08Ex01/obj
/Chapter09
/Chapter10
/Chapter11
/Chapter12
/Chapter13
/Chapter18
/Chapter19
/Chapter14/Compressor/.vs/Compressor/v16
/Chapter14/Compressor/bin/Debug/net5.0
/Chapter14/Compressor/obj
/Chapter14/FileWatch/.vs/FileWatch
/Chapter14/FileWatch/bin/Debug/net5.0-windows
/Chapter14/FileWatch/obj
/Chapter14/FileWatch/FileWatch.csproj.user
/Chapter14/ReadFile/.vs/ReadFile
/Chapter14/ReadFile/bin/Debug/net5.0
/Chapter14/ReadFile/obj
/Chapter14/StreamRead/.vs/StreamRead
/Chapter14/StreamRead/bin/Debug/net5.0
/Chapter14/StreamRead/obj
/Chapter14/StreamWrite/.vs/StreamWrite
/Chapter14/StreamWrite/bin/Debug/net5.0
/Chapter14/StreamWrite/obj
/Chapter14/WriteFile/.vs/WriteFile
/Chapter14/WriteFile/bin/Debug/net5.0
/Chapter14/WriteFile/obj
/Chapter15/LoopThroughXmlDocument/.vs/LoopThroughXmlDocument
/Chapter15/LoopThroughXmlDocument/obj
/Chapter15/LoopThroughXmlDocument/LoopThroughXmlDocument.csproj.user
/Chapter15/SerializeJSON/.vs/SerializeJSON
/Chapter15/SerializeJSON/bin/Debug/net5.0
/Chapter15/SerializeJSON/obj
/Chapter15/XPathQuery/.vs/XPathQuery
/Chapter15/XPathQuery/bin/Debug/net5.0-windows
/Chapter15/XPathQuery/obj
/Chapter15/XPathQuery/XPathQuery.csproj.user
/Chapter15/LoopThroughXmlDocument/bin/Debug/net5.0-windows
/Chapter16/BeginningCSharpAndDotNET_16_1_LinqToXmlConstructors/.vs/BeginningCSharpAndDotNET_16_1_LinqToXmlConstructors/v16
/Chapter16/BeginningCSharpAndDotNET_16_1_LinqToXmlConstructors/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_1_LinqToXmlConstructors/obj
/Chapter16/BeginningCSharpAndDotNET_16_1_LinqToXmlConstructors/.vs/BeginningCSharpAndDotNET_16_1_LinqToXmlConstructors/DesignTimeBuild
/Chapter16/BeginningCSharpAndDotNET_16_2_XMLFragments/.vs/BeginningCSharpAndDotNET_16_2_XMLFragments/v16
/Chapter16/BeginningCSharpAndDotNET_16_2_XMLFragments/obj
/Chapter16/BeginningCSharpAndDotNET_16_2_XMLFragments/bin/Debug/netcoreapp3.1
/Chapter16/BeginningCSharpAndDotNET_16_2_XMLFragments/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_3_QuerySyntax/.vs/BeginningCSharpAndDotNET_16_3_QuerySyntax/v16
/Chapter16/BeginningCSharpAndDotNET_16_3_QuerySyntax/obj
/Chapter16/BeginningCSharpAndDotNET_16_3_QuerySyntax/bin/Debug/netcoreapp3.1
/Chapter16/BeginningCSharpAndDotNET_16_4_MethodSyntax/.vs/BeginningCSharpAndDotNET_16_4_MethodSyntax/v16
/Chapter16/BeginningCSharpAndDotNET_16_4_MethodSyntax/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_4_MethodSyntax/obj
/Chapter16/BeginningCSharpAndDotNET_16_3_QuerySyntax/.vs/BeginningCSharpAndDotNET_16_3_QuerySyntax/DesignTimeBuild
/Chapter16/BeginningCSharpAndDotNET_16_4_MethodSyntax/.vs/BeginningCSharpAndDotNET_16_4_MethodSyntax/DesignTimeBuild
/Chapter16/BeginningCSharpAndDotNET_16_5_OrderQueryResults/.vs/BeginningCSharpAndDotNET_16_5_OrderQueryResults/v16
/Chapter16/BeginningCSharpAndDotNET_16_5_OrderQueryResults/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_5_OrderQueryResults/obj
/Chapter16/BeginningCSharpAndDotNET_16_6_LargeNumberQuery/.vs/BeginningCSharpAndDotNET_16_6_LargeNumberQuery/v16
/Chapter16/BeginningCSharpAndDotNET_16_6_LargeNumberQuery/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_6_LargeNumberQuery/obj
/Chapter16/BeginningCSharpAndDotNET_16_6_LargeNumberQuery/.vs/BeginningCSharpAndDotNET_16_6_LargeNumberQuery/DesignTimeBuild/.dtbcache.v2
/Chapter16/BeginningCSharpAndDotNET_16_7_NumericAggregates/.vs/BeginningCSharpAndDotNET_16_7_NumericAggregates/v16/.suo
/Chapter16/BeginningCSharpAndDotNET_16_7_NumericAggregates/obj
/Chapter16/BeginningCSharpAndDotNET_16_7_NumericAggregates/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_8_SelectDistinctQuery/.vs/BeginningCSharpAndDotNET_16_8_SelectDistinctQuery/v16
/Chapter16/BeginningCSharpAndDotNET_16_8_SelectDistinctQuery/bin/Debug
/Chapter16/BeginningCSharpAndDotNET_16_8_SelectDistinctQuery/obj
/Chapter16/BeginningCSharpAndDotNET_16_9_MultiLevelOrdering/.vs/BeginningCSharpAndDotNET_16_9_MultiLevelOrdering/v16
/Chapter16/BeginningCSharpAndDotNET_16_9_MultiLevelOrdering/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_9_MultiLevelOrdering/obj
/Chapter16/BeginningCSharpAndDotNET_16_10_GroupQuery/.vs/BeginningCSharpAndDotNET_16_10_GroupQuery
/Chapter16/BeginningCSharpAndDotNET_16_10_GroupQuery/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_10_GroupQuery/obj
/Chapter16/BeginningCSharpAndDotNET_16_11_JoinQuery/.vs/BeginningCSharpAndDotNET_16_11_JoinQuery/v16
/Chapter16/BeginningCSharpAndDotNET_16_11_JoinQuery/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_11_JoinQuery/obj
/Chapter16/BeginningCSharpAndDotNET_16_8_SelectDistinctQuery/.vs/BeginningCSharpAndDotNET_16_8_SelectDistinctQuery/DesignTimeBuild
/Chapter16/BeginningCSharpAndDotNET_16_9_MultiLevelOrdering/.vs/BeginningCSharpAndDotNET_16_9_MultiLevelOrdering/DesignTimeBuild
/Chapter16/BeginningCSharpAndDotNET_16_11_JoinQuery/.vs/BeginningCSharpAndDotNET_16_11_JoinQuery/DesignTimeBuild
/Chapter21/Ch21Ex01/.vs/Ch21Ex01
/Chapter21/Ch21Ex01/bin/Debug/net5.0-windows
/Chapter21/Ch21Ex01/obj
/Chapter21/BenCards.WPF/.vs/BenCards.WPF/DesignTimeBuild
/Chapter21/BenCards.WPF/.vs/BenCards.WPF/v16
/Chapter21/BenCards.WPF/obj
/Chapter21/BenCards.WPF/BenCards.WPF.csproj.user
/Chapter21/Ch21Ex01/Ch21Ex01.csproj.user
/Chapter17/BeginningCSharpAndDotNet_17_1_CodeFirstDatabase/.vs/BeginningCSharpAndDotNet_17_1_CodeFirstDatabase/DesignTimeBuild
/Chapter17/BeginningCSharpAndDotNet_17_1_CodeFirstDatabase/.vs/BeginningCSharpAndDotNet_17_1_CodeFirstDatabase/v16
/Chapter17/BeginningCSharpAndDotNet_17_1_CodeFirstDatabase/bin/Debug/net5.0
/Chapter17/BeginningCSharpAndDotNet_17_1_CodeFirstDatabase/obj
/Chapter21/BensCards.WPF/.vs/BensCards.WPF
/Chapter21/BensCards.WPF/bin/Debug/net5.0-windows
/Chapter21/BensCards.WPF/obj
/Chapter17/BeginningCSharpAndDotNet_17_2_XMLfromDatabase/.vs/BeginningCSharpAndDotNet_17_2_XMLfromDatabase/v16
/Chapter17/BeginningCSharpAndDotNet_17_2_XMLfromDatabase/bin/Debug/net5.0
/Chapter17/BeginningCSharpAndDotNet_17_2_XMLfromDatabase/obj
/Chapter17/BeginningCSharpAndDotNet_17_2_XMLfromDatabase/.vs/BeginningCSharpAndDotNet_17_2_XMLfromDatabase/DesignTimeBuild/.dtbcache.v2
/Chapter21/LayoutExamples/.vs/LayoutExamples
/Chapter21/LayoutExamples/bin/Debug/net5.0-windows
/Chapter21/LayoutExamples/obj
/Chapter21/LayoutExamples_sav
/Chapter21/BensCards.WPF/bin/Debug/netcoreapp3.1
/Chapter21/BensCards.WPF/bin/Release/net5.0-windows
/Chapter21/Ch13CardLib/bin/Debug/net5.0
/Chapter21/Ch13CardLib/obj
/Chapter14/Compressor/.vs/Compressor/DesignTimeBuild
/Chapter16/BeginningCSharpAndDotNET_16_7_NumericAggregates/.vs/BeginningCSharpAndDotNET_16_7_NumericAggregates/DesignTimeBuild
/Chapter16/BeginningCSharpAndDotNET_16_3_QuerySyntax/bin/Debug/net5.0
/Chapter16/BeginningCSharpAndDotNET_16_5_OrderQueryResults/.vs/BeginningCSharpAndDotNET_16_5_OrderQueryResults/DesignTimeBuild
